* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}

html, body {
  background-color: #1E2629;
}

.nav {
  z-index: 1000;
  background-color: #CBCDC0;
  position: fixed;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  border-bottom: 2px solid #1E2629;
}
.nav__link {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 3rem;
  list-style-type: none;
  height: 10vh;
  line-height: 0.76;
  display: flex;
  align-items: end;
}
.nav__link a:link {
  text-decoration: none;
  color: #1E2629;
}
.nav__link a:hover {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-shadow: 5px 5px white;
}
.nav__link a:visited {
  text-decoration: none;
  color: #1E2629;
}
.nav__link a:active {
  text-decoration: none;
  transform: translate(5px, 5px);
  transition: none;
  text-shadow: none;
  color: #1E2629;
}

main {
  margin-top: 10vh;
}
main .landing-page {
  height: 80vh;
  width: 100vw;
  background-color: #1E2629;
  color: #CBCDC0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .landing-page__header {
  font-size: 8rem;
}
main .landing-page__para {
  font-family: "Quicksand", sans-serif;
  font-size: 1.7rem;
}
main .skills {
  height: 80vh;
  width: 100vw;
  background-color: #1E2629;
  color: #CBCDC0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .skills div {
  height: 500px;
  width: 500px;
}
main .skills__icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 10px;
}
main .skills i {
  border: 2px solid #CBCDC0;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .skills i:hover {
  box-shadow: 5px 5px white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
main .projects {
  height: 80vh;
  width: 100vw;
  background-color: #1E2629;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .proj-grid {
  height: 80%;
  width: 80vw;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
main .proj-grid__proj {
  background-color: #CBCDC0;
  width: 30vw;
  height: 30vh;
  position: relative;
}
main .proj-grid__proj .proj-content {
  border: 2px solid #CBCDC0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
main .proj-grid__proj img {
  object-fit: cover;
}
main .proj-grid__proj--desc {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  z-index: 100;
  color: #1B4146;
  background-color: rgba(203, 205, 192, 0.9);
  opacity: 0;
}
main .proj-grid__proj--desc h3, main .proj-grid__proj--desc p {
  width: 100%;
}
main .proj-grid__proj--desc h3 {
  font-size: 2rem;
  font-family: "Abril Fatface", cursive;
}
main .proj-grid__proj--desc p {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
main .proj-grid__proj--desc:hover {
  opacity: 1;
  box-shadow: 5px 5px white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
main .contact-about {
  height: 80vh;
  width: 100vw;
  background-color: #1E2629;
  font-family: "Quicksand", sans-serif;
  color: #CBCDC0;
  font-weight: 900;
  margin-bottom: 10vh;
  display: flex;
}
main .contact-about > section {
  width: 50%;
}
main .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .send-message {
  width: 500px;
}
main .send-message input, main .send-message textarea {
  margin: 10px 0;
}
main .full-name {
  width: 100%;
}
main .full-name input {
  background-color: #BBD1D5;
  border: 2px solid #1B4146;
  width: 100%;
  height: 2rem;
}
main .email {
  background-color: #BBD1D5;
  border: 2px solid #1B4146;
  width: 100%;
  height: 2rem;
}
main textarea {
  width: 100%;
  resize: vertical;
}
main .about-me {
  background-color: #CBCDC0;
  color: #1B4146;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
main .about-me img {
  border: 2px solid #1B4146;
  border-radius: 50%;
  box-shadow: 10px 10px white;
  margin: 15px 0;
}
main .about-me .about-me-desc {
  width: 30vw;
}
main .about-me .about-me-desc__header {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  text-align: center;
  margin: 10px 0;
}
main .about-me .about-me-desc__para {
  text-align: center;
}
main .about-me .about-me-desc__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-me .about-me-desc a {
  margin: 20px auto;
}
main .about-me .about-me-desc a:link {
  text-decoration: none;
  color: #1B4146;
  font-size: 3rem;
}
main .about-me .about-me-desc a:hover {
  text-decoration: none;
  color: #1B4146;
  font-size: 3rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 5px 5px white;
}
main .about-me .about-me-desc a:visited {
  text-decoration: none;
  color: #1B4146;
  font-size: 3rem;
}
main .about-me .about-me-desc a:active {
  text-decoration: none;
  color: #1B4146;
  font-size: 3rem;
  transform: translate(5px, 5px);
  transition: none;
  text-shadow: none;
}

footer {
  z-index: 1000;
  height: 10vh;
  width: 100vw;
  background-color: #CBCDC0;
  bottom: 0;
  position: fixed;
  border-top: 2px solid #1E2629;
}
footer p {
  color: #1E2629;
  font-family: "Quicksand", sans-serif;
}

.copyright {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
