
// page themes
$primary-color: #1E2629;
$secondary-color: #CBCDC0;
$tertiary-color: #1B4146;
$quartenary-color: #BBD1D5;

// text-styles
$primary-text-color: #CBCDC0;
$header-text-color: #1E2629;

//font-family
$main-font-family: 'Abril Fatface', cursive;
$secondary-font-family: 'Quicksand', sans-serif;