// page themes
$primary-color: #1e2629;
$secondary-color: #cbcdc0;
$tertiary-color: #1b4146;
$quartenary-color: #bbd1d5;
$accent-color: #bd6054;

// text-styles
$primary-text-color: #cbcdc0;
$header-text-color: #1e2629;

//font-family
$main-font-family: "Abril Fatface", cursive;
$secondary-font-family: "Quicksand", sans-serif;

//opacity-color
$desc-bg: rgba(203, 205, 192, 0.9);
